# Overlord runtime and IPC files
ipc_in.txt
ipc_out.txt
ipc_in.tmp
*.dmp
*.log
*.tmp
__h2Exe

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Python
__pycache__/
*.pyc

# Steam config backups written by tools/steam_shortcut.py
*.vdf.bak.*
